@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Brobnik</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.png">

    <!-- CSS
    ============================================ -->
    <!-- Icon Font CSS -->
    @Styles.Render("~/bundles/peicon7stroke/css")
    @Styles.Render("~/bundles/font-awesome/css")
    <!-- Plugins CSS -->
    @Styles.Render("~/bundles/animate/css")
    @Styles.Render("~/bundles/swiper-bundle.min/css")
    @Styles.Render("~/bundles/odometer/css")
    @Styles.Render("~/bundles/nice-select/css")
    @Styles.Render("~/bundles/select2/css")
    @Styles.Render("~/bundles/rangeSlider/css")
    @Styles.Render("~/bundles/style/css")

</head>

<body>
    <header>
        @Html.Partial("_Header")
    </header>
    @RenderBody()
    <footer>
        @Html.Partial("_Footer")
    </footer>

    <!-- JS
    ============================================ -->
    <!-- Modernizer & jQuery JS -->
    @Scripts.Render("~/bundles/modernizr/js")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/popper/js")

    <!-- Bootstrap JS -->
    @Scripts.Render("~/bundles/popper/js")
    @Scripts.Render("~/bundles/bootstrap/js")

    <!-- Plugins JS -->
    @Scripts.Render("~/bundles/swiper-bundle/js")
    @Scripts.Render("~/bundles/ajax-contact/js")
    @Scripts.Render("~/bundles/appear/js")
    @Scripts.Render("~/bundles/odometer/js")
    @Scripts.Render("~/bundles/jquery.nice-select/js")
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/ion.rangeSlider/js")
    @Scripts.Render("~/bundles/jquery.zoom/js")







    <!-- Main JS -->
    @Scripts.Render("~/bundles/main/js")

</body>

</html>